<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Telegram.Bot" value="https://www.youtube.com/redirect?event=comments&amp;redir_token=QUFFLUhqa2Uzc2l1Qi0ySDl1Q0xLSVoyNmZyTHJiUUtOZ3xBQ3Jtc0tsclFVVGVuNVJpb2x6cDNZVjBnRnQ0cUhCWWpSZzFDOHlkUVFtbndPN0lKbko3clluUlZhOXY3dTliTUIxTFgxTFJ3alNBbXdLYmY4RXgwWTJUcHppYWNJc0J3WmxzTU1tYnFOX1NDRDVzWWh3aXM5bw&amp;q=https%3A%2F%2Fpkgs.dev.azure.com%2Ftgbots%2FTelegram.Bot%2F_packaging%2Frelease%2Fnuget%2Fv3%2Findex.json" enableCredentialProvider="false" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="packageInstallLocation" value="CustomWithinAssets" />
    <add key="repositoryPath" value="./Packages" />
    <add key="PackagesConfigDirectoryPath" value="." />
    <add key="slimRestore" value="true" />
    <add key="PreferNetStandardOverNetFramework" value="true" />
  </config>
</configuration>